<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I truly believe you need to be passionate about what you do in order to succeed.<br>
    Building through code, it's something I was always meant to do.</p>
  </div>

    <%= source_helper("alert alert-info blog-sidebar-source") %>

  <div class="sidebar-module">
    <h4>Topics</h4>
    <% @side_bar_topics.each do |topic| %>
    <p><%= link_to topic.title, topic_path(topic) %></p>
    <% end %>
  </div>

  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/PaulCalnan"><%= fa_icon "github" %></li>
      <li><a href="https://www.instagram.com/paul_calnan/"><%= fa_icon "instagram" %></li>
      <!-- <li><a href="#"><%= fa_icon "facebook" %></li> -->
      <li><a href="https://twitter.com/pppaulyc"><%= fa_icon "twitter" %></li>
    </ol>
  </div>
</div>
